/* html code assigment  */

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper {
    width: 1080px;
    padding: 20px;
    margin: 0 auto;
}

.first-paragraph {
    font-size: 18px;
    text-align: left;
}

.block1 {
    margin-top: 15px;
    position: relative;
    background-color: rgb(204, 204, 204);
    height: 400px;
}

.block2 {
    position: absolute;
    right: -50px;
    bottom: -20px;
    background-color: rgb(163, 163, 163);
    height: 200px;
    width: 500px;
}

.block3 {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(163, 163, 163);
    height: 200px;
}

.text-inside-box {
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
}

.second-paragraph {
    width: 1080px;
    padding: 20px;
    margin: 0 auto;
    font-size: 18px;
}